/* All CSS styles go here */
/*Header*/
.header {
	background-color: blue;
	height: 200px;
	width: 1280px
}
.logo {
	color:gold;
	position: relative;
}
.navigation {
	color: gold;
	position: relative;
}
.nav1 {

}
.nav2 {

}
.nav3 {

}
.nav4 {

}
.title {

}
/*Header*/
/*Articles*/
.aheadline{

}
.abodytext{

}
.article1{

}
.article2{
	
}
.article3{
	
}
.article4{
	
}
.article5{

}
.article6{
	
}
.article7{
	
}
.article8{
	
}
.image1{

}
.image2{
	
}
.image3{
	
}
.image4{

}
.image5{
	
}
.image6{
	
}
.image7{

}
.image8{
	
}
/*Articles*/
/*Previews*/
.headline{

}
.bodytext{

}
.smallarticle1{

}
.smallarticle2{
	
}
.smallarticle3{
	
}
.smallarticle4{
	
}
.smallarticle5{

}
.smallarticle6{
	
}
.smallarticle7{
	
}
.smallarticle8{
	
}
/*Previews*/